@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: url(fonts/gothampro.ttf); /* Путь к файлу со шрифтом */
}

body {
    display:inline-block;
    background: #98e9ff;
    color: rgb(0, 5, 104);
  }

h1 {
  margin-left: 10%;
  width: max-content;
}
