@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: url(fonts/gothampro.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin-left: 40%;
    background: #98e9ff;
    color: rgb(0, 5, 104);
  }

h1 {
  margin-left: -20%;
}

.divs {
  display:inline-block;
}

.butt {
      margin-left: 5%;
  }

  hr{
    margin-left: 0;
    width:197;
    color: rgb(0, 5, 104);
    border-color: rgb(0, 5, 104);
    border: 2px solid rgb(0, 5, 104);
  }